<section class="intro">
    <h2>灵活、高效、可维护的移动 Web 解决方案</h2>
    <p>轻松搞定从 JavaScript 模块到 CSS 样式库，从开发、调试到构建的全过程</p>
</section>

<section class="features">
    <div class="feature" data-role="modular">
        <%- partial('_partial/svg-modular') %>
        <h3 class="title">模块化</h3>
        <div class="desc">
            <p>细粒度模块划分，小而专注</p>
            <p>遵循 AMD 规范，海纳百川</p>
        </div>
    </div>
    <div class="feature" data-role="engineering">
        <%- partial('_partial/svg-engineering') %>
        <h3 class="title">工程化</h3>
        <div class="desc">
            <p>包管理、调试、构建一体化支持</p>
            <p>框架与开发平台 (EDP) 完美对接</p>
        </div>
    </div>
    <div class="feature" data-role="performance">
        <%- partial('_partial/svg-performance') %>
        <h3 class="title">快速</h3>
        <div class="desc">
            <p>屏蔽点击延迟，快速的直观感受</p>
            <p>从模块到平台，多维度性能优化</p>
        </div>
    </div>
    <div class="feature" data-role="usability">
        <%- partial('_partial/svg-usability') %>
        <h3 class="title">易用</h3>
        <div class="desc">
            <p>尽量帮你避免重复工作</p>
            <p>几行命令即可快速创建应用</p>
        </div>
    </div>
    <a class="more" href="/saber/feature">更多特性</a>
</section>

<section class="showcase">
    <h2>我们的用户</h2>
    <ul>
        <li class="baidu-iwan"><a href="http://iwan.baidu.com/WiseHome" target="_blank">百度爱玩</a></li>
        <li class="baidu-baozhang"><a href="http://baozhang.baidu.com/guarantee/m/" target="_blank">百度保障</a></li>
        <li class="baidu-jiankang"><a href="http://jiankang.baidu.com/mNew/" target="_blank">百度健康</a></li>
        <li class="baidu-jiaoyu"><a href="http://jiaoyu.baidu.com/m/" target="_blank">百度教育</a></li>
        <li class="baidu-koubei"><a href="http://koubei.baidu.com/m" target="_blank">百度口碑</a></li>
        <li class="baidu-qiao"><a href="http://qiao.baidu.com" target="_blank">百度商桥</a></li>
        <li class="baidu-weigou"><a href="http://weigou.baidu.com" target="_blank">百度微购</a></li>
        <li class="baidu-duzhan"><a href="http://duzhan.baidu.com" target="_blank">百度度站</a></li>
    </ul>
</section>

<%- partial('_partial/any-other') %>
