<%- partial('_partial/head') %>
    <body>
        <%- partial('_partial/header') %>
        <main>
            <%- body %>
            <%- partial('_partial/comment') %>
        </main>
        <%- partial('_partial/footer') %>
        <%- partial('_partial/before-body') %>
    </body>
</html>
